@font-face { font-family: Cuprum; src: url('../font/Cuprum.ttf'); }
@font-face { font-family: Cuprum; font-weight: bold; src: url('../font/Cuprum-Bold.ttf');}

@keyframes breathingBorder {
    50% {
        border-width: 0;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideUnderTop {
    0% {
        height: 15vh;
        width: 10vw;
        margin-top: 0;
    }
    100% {
        height: 1vh;
        width: 10vw;
        margin-top: -11vh;
    }
}

@keyframes slideOutOfTop {
    0% {
        height: 1vh;
        width: 10vw;
        margin-top: -11vh;
    }
    100% {
        height: 15vh;
        width: 10vw;
        margin-top: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ui-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vh;
    height: 20vh;
    margin: 0 auto;
}

.ui-image {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

.ui-text {
    position: relative;
    display: grid;
    grid-template-columns: 35.4% 29.2% 35.4%;
    grid-template-rows: 20% 46% 4% 30%;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Cuprum, sans-serif;
}

/* ********** */
/* GRID ITEMS */
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TOP ROW */
.top-row {

}
.top-row.mid-col {
    justify-content: flex-end;
}

/* MID ROW */
.mid-row {
    z-index: 2;
}
.mid-row.mid-col {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* BOT ROW */
.bot-row {
    z-index: 2;
}
.bot-row.mid-col {
    position: relative;
    display: flex;
    padding: 0;
    border: 0;
    bottom: 0;
    margin-bottom: -1vh;
}

/* COLUMNS */
.left-col {
    justify-content: flex-end;
    flex-direction: row;
}
.mid-col {
    justify-content: center;
    flex-direction: row;
}
.right-col {
    justify-content: flex-start;
    flex-direction: row;
}

/* GRID ITEMS */
/* ********** */

.types-line-1 .image-wrapper-attack .type-icon,
.types-line-1 .image-wrapper-defense .type-icon {
    height: 1.5vh;
    width: auto;
}

.types-line-2 .image-wrapper-attack .type-icon,
.types-line-2 .image-wrapper-defense .type-icon {
    height: 2.5vh;
    width: auto;
}

.types-line-3 .image-wrapper-attack .type-icon,
.types-line-3 .image-wrapper-defense .type-icon {
    height: 1.5vh;
    width: auto;
}

.grid-item.right-col:not(:hover) div:nth-child(6) {
    opacity: 0.67;
}

.grid-item.right-col:not(:hover) div:nth-child(7) {
    opacity: 0.33;
}

.grid-item.right-col:not(:hover) div:nth-child(n+8) {
    opacity: 0;
}

.grid-item.left-col div:nth-last-child(6) {
    opacity: 0.67;
}

.grid-item.left-col div:not(:hover):nth-last-child(7) {
    opacity: 0.33;
}

.grid-item.left-col div:not(:hover):nth-last-child(n+8) {
    opacity: 0;
}

.timer {
    z-index: 2;
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fade-out {
    animation: fadeOut 1.5s 1 forwards linear;
}

#bottom-left-txt {
    position: fixed;
    bottom: 3%;
    left: 0;
    color: white;
    height: 40%;
    width: 30%;
    overflow-y: scroll;
    overflow-x: clip;
    padding: 1%;
}

#bottom-left-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 3%;
}

#bottom-left-input {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    padding: 1%;
}

#top-right-txt {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    height: 20%;
    width: 15%;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: visible;
}

#top-right-txt:hover {
    opacity: 1;
}

#start-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 4;
    height: 2vh;
    width: auto;
}

#ui-info-pings {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    height: 1vh;
    width: 10vw;
    opacity: 1;
    top: 0;
    margin-top: -11vh;
}

#pings-infos-ui {
    position: absolute;
    height: 60%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

#ping-infos-text {
    position: relative;
    z-index: 2;
}

#icon-team-choice {
    position: relative;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 20%);
    height: 6vh;
}

/* Hide scrollbars */
#top-right-txt::-webkit-scrollbar, #bottom-left-txt::-webkit-scrollbar {
    display: none;
}
#top-right-txt, #bottom-left-txt {
    scrollbar-width: none;
}
#top-right-txt, #bottom-left-txt {
    -ms-overflow-style: none;
}
