
.wave-container {
    position: relative;
    display: flex;
    z-index: 0;
    height: 4vh;
    width: 4vh;
    cursor: pointer;
}

.wave-main-image {
    display: block;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.wave-container-aura-ping {
    /*display: block;*/
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.75) 50%, rgba(0, 0, 255, 0) 100%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}

.wave-ping-icon {
    object-fit: cover;
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: 125%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0;
}

@keyframes waveAuraEffect {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wavePingIconEffect {
    0% {
        opacity: 0;
        scale: 80%;
        bottom: 125%;
    }
    10% {
        opacity: 1;
        scale: 95%;
        bottom: 125%;
    }
    50% {
        opacity: 1;
        scale: 90%;
        bottom: 125%;
    }
    90% {
        opacity: 1;
        scale: 80%;
        bottom: 125%;
    }
    100% {
        opacity: 0;
        scale: 50%;
        bottom: 100%;
    }
}

.wave-num-votes-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2vh;
    transform: translate(-50%, -50%);
}