

.wave-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.wave-main-image {
    display: block;
    width: 100%;
}

.wave-corner-image {
    position: absolute;
    width: 20%;
}

.wave-corner-1 {
    left: 50%;
    top: 50%;
    transform: translate(-100%, -100%);
}

.wave-corner-2 {
    right: 50%;
    top: 50%;
    transform: translate(0, -100%);
}

.wave-corner-3 {
    left: 50%;
    bottom: 50%;
    transform: translate(-100%, 0);
}

.wave-corner-4 {
    right: 50%;
    bottom: 50%;
    transform: translate(0, 0);
}
