
.wave-container {
    position: relative;
    display: flex;
    z-index: 0;
    height: 4vh;
    width: 4vh;
}

.wave-main-image {
    display: block;
    height: 100%;
    object-fit: cover;
}

.wave-container-aura-ping {
    /*display: block;*/
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.75) 50%, rgba(0, 0, 255, 0) 100%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}

.wave-ping-icon {
    object-fit: cover;
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: 125%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0;
}

@keyframes waveAuraEffect {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wavePingIconEffect {
    0% {
        opacity: 0;
        scale: 80%;
        bottom: 125%;
    }
    10% {
        opacity: 1;
        scale: 95%;
        bottom: 125%;
    }
    50% {
        opacity: 1;
        scale: 90%;
        bottom: 125%;
    }
    90% {
        opacity: 1;
        scale: 80%;
        bottom: 125%;
    }
    100% {
        opacity: 0;
        scale: 50%;
        bottom: 100%;
    }
}

.wave-num-votes-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2vh;
    transform: translate(-50%, -50%);
}

#wave-infos-tooltip {
    display: block;
    transform: translateX(-50%);
    height: auto;
    padding: 1vh;
    position: absolute;
    margin: 1vh;
    left: 50%;
    top: 22vh;
    /*width: auto;
    max-width: 15vw;*/
    width: 30%;
    z-index: 12;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(30, 38, 37, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto;
    border-bottom-color: rgb(126, 145, 162);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-repeat: stretch;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(126, 145, 162);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(126, 145, 162);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(126, 145, 162);
    border-top-style: solid;
    border-top-width: 1px;
}
