
.wave-container {
    position: relative;
    display: inline-block;
    z-index: 0;
    height: 100%;
}

.wave-main-image {
    display: block;
    height: 100%;
    object-fit: cover;
}

.wave-container-aura-ping {
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.75) 50%, rgba(0, 0, 255, 0) 100%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}

.wave-ping-icon {
    object-fit: cover;
    display: block;
    position: absolute;
    bottom: 125%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0;
}

@keyframes waveAuraEffect {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

/*
@keyframes wavePingIconEffect {
    0% {
        opacity: 0;
        scale: 90%;
        bottom: 125%;
    }
    10% {
        opacity: 1;
        scale: 100%;
        bottom: 125%;
    }
    50% {
        opacity: 1;
        scale: 50%;
        bottom: 75%;
    }
    100% {
        opacity: 1;
        scale: 50%;
        bottom: 0;
    }
}*/

@keyframes wavePingIconEffect {
    0% {
        opacity: 0;
        scale: 90%;
        bottom: 125%;
    }
    10% {
        opacity: 1;
        scale: 100%;
        bottom: 125%;
    }
    50% {
        opacity: 1;
        scale: 100%;
        bottom: 125%;
    }
    90% {
        opacity: 1;
        scale: 100%;
        bottom: 125%;
    }
    100% {
        opacity: 0;
        scale: 50%;
        bottom: 100%;
    }
}

.wave-corner-image {
    position: absolute;
    width: 20%;
    z-index: 1;
}

.wave-corner-0 {
    left: 50%;
    top: 50%;
    transform: translate(-100%, -100%);
}

.wave-corner-1 {
    right: 50%;
    top: 50%;
    transform: translate(0, -100%);
}

.wave-corner-2 {
    left: 50%;
    bottom: 50%;
    transform: translate(-100%, 0);
}

.wave-corner-3 {
    right: 50%;
    bottom: 50%;
    transform: translate(0, 0);
}
