@font-face { font-family: Cuprum; src: url('font/Cuprum.ttf'); }
@font-face { font-family: Cuprum; font-weight: bold; src: url('font/Cuprum-Bold.ttf');}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interface-box {
    position: absolute;
    top: 10vh;
    left: 30vw;
    height: 20vh;
    width: 40vw;
    background-image: url("img/ui.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-element {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    word-wrap: break-word;
    padding: 0 1rem;
}