@font-face { font-family: Cuprum; src: url('font/Cuprum.ttf'); }
@font-face { font-family: Cuprum; font-weight: bold; src: url('font/Cuprum-Bold.ttf');}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ui-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vh;
    height: 20vh;
    margin: 0 auto;
}

.ui-image {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.ui-text {
    position: relative;
    display: grid;
    grid-template-columns: auto 29.2% auto;
    grid-template-rows: 20% 46% 34%;
    width: 100%;
    height: 100%;

}

.grid-item {
    font-family: Cuprum, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-row {
    /*background-color: rgba(0, 0, 0, 0.2);*/
}

.mid-row {
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.bot-row {
    /*background-color: rgba(0, 0, 0, 0.2);*/
}